:root {
    --primary-color: #007bff;
    --secondary-color: #f8f8f8;
    --text-color: #333;
    --border-color: #ddd;
    --hover-color: #0097a7;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: var(--secondary-color);
}

.logo {
    height: 40px;
}

.search-bar {
    flex: 1;
    margin: 0 10px;
    padding: 0.5rem; /* 8px */
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.search-button {
    padding: 0.5rem 0.75rem; /* 8px 12px */
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--hover-color);
}

.header-links a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--primary-color);
}

.header-links a:hover {
    color: var(--hover-color);
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 10px 0;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
}

.navbar a:hover {
    color: var(--primary-color);
}

.contact-section {
    display: flex;
    padding: 0px;
    gap: 20px;
}

.contact-image img {
    max-width: 400px;
    border: 1px solid var(--border-color);
}

.contact-form {
    flex: 1;
}

.contact-form h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--text-color);
}

.contact-form p {
    margin-bottom: 20px;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.checkboxes {
    margin-bottom: 15px;
}

.checkboxes label {
    display: block;
    font-size: 12px;
    color: #555;
}

.submit-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--hover-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 20px 0;
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.footer-top {
    background-color: #00274d;
    padding: 20px;
}

.footer-service {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.service-item {
    flex: 1;
    padding: 10px;
}

.service-item i {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #555;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-logo {
    max-width: 150px;
}

.social-media a {
    margin: 0 10px;
    color: var(--text-color);
}

.social-media i {
    font-size: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.newsletter label {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}

.newsletter button {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--hover-color);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #e0e0e0;
}

.payment-methods img {
    max-width: 50px;
    margin: auto;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-image img {
        max-width: 100%;
    }
}
